<div class="header clearfix">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Obra Pública - Ciudad Autónoma de Buenos Aires</a>
    <ul class="nav nav-pills float-right mb-1">
      <li class="nav-item">
      <% if @home_selected_in_nav %>
        <a class="nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <% else %>
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      <% end %>
      </li>
      <li class="nav-item">
        <% if @nueva_obra_selected_in_nav %>
          <a class="nav-link active" href="/nueva_obra" role="button">Nueva Obra</a>
        <% else %>
          <a class="nav-link" href="/nueva_obra" role="button">Nueva Obra</a>
        <% end %>
      </li>
      <li class="nav-item">
        <% if @lista_obras_selected_in_nav %>
          <a class="nav-link active" href="/lista_obras" role="button">Lista Obras</a>
        <% else %>
          <a class="nav-link" href="/lista_obras" role="button">Lista Obras</a>
        <% end %>
      </li>
      <li class="nav-item">
        <% if @estadisticas_selected_in_nav %>
          <a class="nav-link active" href="/estadisticas" role="button">Estadísticas</a>
        <% else %>
          <a class="nav-link" href="/estadisticas" role="button">Estadísticas</a>
        <% end %>
      </li>
      <li class="nav-item">
        <% if @enunciado_selected_in_nav %>
          <a class="nav-link active" href="/enunciado" role="button">Enunciado TP</a>
        <% else %>
          <a class="nav-link" href="/enunciado" role="button">Enunciado TP</a>
        <% end %>
      </li>
      <li class="nav-item">
        <% if @contacto_selected_in_nav %>
          <a class="nav-link active" href="/contacto" role="button">Contacto</a>
        <% else %>
          <a class="nav-link" href="/contacto" role="button">Contacto</a>
        <% end %>
      </li>
    </ul>
  </nav>
</div>