<div class="container">
  <div class="row">
    <h4>Programa creado por:</h4>
  </div><br>
  <div class="row">
    <div class="col">
      <div class="col text-right">
        <img class="center-block img-responsive mb-3" src="/images/pics/egv.jpg" style="max-width:30%;">
      </div>
    </div>
    <div class="col"><br>
      <p class="text">Eduardo G. Vidal</p>
      <p class="text">eduvidal@ar.ibm.com</p>
    </div>
  </div>
</div><br><br><br><br><br>