<div class="container">
  <div class="row">
    <h4>Programa creado por:</h4>
  </div>
  <div class="row">
    <div class="col">
      <p class="text-center">Eduardo G. Vidal</p>
      <div class="col text-center">
        <img class="center-block img-responsive mb-3" src="/images/pics/it_works.jpg">
      </div>
    </div>
  </div>
</div>