<div class="container">
  <div class="row">
    <h4>Aplicación creada por:</h4>
  </div><br>
  <div class="row">
    <div class="col">
      <div class="col text-right">
        <img src="/images/pics/egv.jpg" style="max-width:30%;">
      </div>
    </div>
    <div class="col"><br>
      <p class="text">Eduardo Gabriel Vidal</p>
      <p class="text">eduvidal@ar.ibm.com</p>
      <p class="text">IT Specialist - Security Compliance Focal</p>
      <p class="text">Intel Server Support for Manulife Financial</p>
    </div>
  </div>
</div><br><br><br><br><br>