<div class="card">
  <h5 class="card-header"><strong>Enunciado del TP</strong></h5>
    <div class="explainatory_text">
      <p>Los profesores del curso somos Product Owners que necesitamos una aplicación que cubra las
      necesidades de nuestro negocio. Por consultas para aclarar el enunciado que se detalla a continuación,
      deben contactarnos por slack o email.</p>
      <p>Necesitamos construir una interfaz web para ABM (Alta/Baja/Modificación) de obras públicas de la
      Ciudad de Buenos Aires.</p>  
      <p>Contamos con un set de datos con información de obras histórico en formato CSV (Comma Separated
      Value).</p>
      <p>La solución debe ser una aplicación Ruby - Sinatra que cumpla con los siguientes puntos:
        <ul>
          <li>Se deben crear los modelos de clase necesarios para resolver el problema.</li>
          <li>Se deben persistir los objetos necesarios para resolver el problema utilizando YAML-STORE.</li>
          <li>Inicialmente los repositorios de datos en formato ".yml " deben estar vacíos y se deben
          inicializar importando los datos provistos en formato csv.</li>
          <li>Se debe contar con una vista donde se muestre el enunciado del TP.</li>
          <li>Se debe contar con un menú de navegación para acceder a las distintas secciones (soluciones a
          los distintos puntos pedidos).</li>
          <li>Se debe contar con una vista de contacto que contenga información sobre ustedes (incluyendo
          foto de perfil).</li>
          <li>Se debe aprovechar las ventajas de utilizar un layout.</li>
          <li>Se debe dar feedback al usuario sobre las acciones realizadas en la aplicación. Por ejemplo, al
          crear una nueva obra pública, la aplicación me debería mostrar un mensaje de confirmación
          "Obra creada correctamente”.</li>
          <li>Se debe crear las rutas y vistas para obtener información y/o mostrar resultados que se piden en
          los diferentes enunciados.</li>
          <li>Se debe utilizar un framework CSS (Bootstrap por ejemplo).</li>
        </ul>
      </p>
      <p>Dataset:
        <ul>
          <li><a href="https://ibm.box.com/s/qgssyctohs0j0x4tn9ngzyzbrnxkda63">obras.csv</a></li>
          <li>Las obras pueden estar en una de estas 4 etapas:
            <ul>
              <li>En Ejecución</li>
              <li>En Licitación</li>
              <li>En Proyecto</li>
              <li>Finalizada</li>
            </ul>
          </li>
          <li>Validaciones:
            <ul>
              <li>El avance debe estar entre 0% y 100% (inclusive).</li>
              <li>El monto no puede ser negativo.</li>
              <li>La etapa sólo puede ser una de las indicadas en el punto anterior.</li>
              <li>El número de comuna debe estar entre 1 y 15 (inclusive).</li>
              <li>Las fechas deben ser válidas (definir un formato aceptado y validarlo).</li>
              <li>Ni la fecha fin estimada ni la real pueden ser anteriores a la fecha inicio.</li>
              <li>La descripción debe tener un límite de 2000 caracteres.</li>
              <li>Las obras finalizadas deben tener avance en 100%, el campo “fecha de finalización real”
          completado y deben ser las únicas con esos campos con esas características.</li>
            </ul>
          </li>
        </ul>
      </p>
      <p>Requerimientos funcionales:
        <ol type="1">
          <li>Poder dar de alta una obra. Basarse aproximadamente en este ejemplo *no completo*:

          </li>
          <li>Poder modificar una obra.</li>
          <li>Poder eliminar una obra. Sólo se puede borrar una obra si la misma está “En proyecto” o “En
          licitación". Caso contrario, el usuario debe ver un mensaje de error diciendo por qué la obra no
          se pudo borrar.</li>
          <li>Obtener un listado de obras (ordenado por fecha de inicio de obra en orden descendente, es
          decir, la obra más nueva, debe estar primera) basándose en el siguiente boceto:

          </li>
          <li>Tener una vista de detalles de una obra (basarse en el siguiente boceto).</li>
          <li>Tener una página con la siguiente información:
            <ol type="a">
              <li>¿En qué comuna se construyeron más obras?</li>
              <li>¿En qué año se finalizaron más obras?</li>
              <li>Listar obras que se excedieron del plazo.</li>
              <li>Listar obras que iniciaron/finalizaron en un año (el usuario ingresa en un formulario el
              año de consulta, y si la consulta es por inicio o fin de obra).</li>
            </ol>
          </li>
          <li>Bajo una sección de estadísticas, mostrar:
            <ol type="a">
              <li>Cantidad de obras finalizadas por comuna (tomar en cuenta el siguiente boceto):
              
              </li>
              <li>Listar las 5 comunas con más obras finalizadas.</li>
              <li>Listar las 5 obras finalizadas que más tardaron.</li>
              <li>Listar las 5 obras finalizadas más caras.</li>
              <li>Distribución porcentual de tipos de obras.</li>
              <li>Calcular, para todas las obras que se hayan completado más tarde de lo planeado, en
              qué porcentaje de tiempo se excedieron. Por ejemplo, una obra planificada para
              completarse en 1 año que tomó 18 meses se excede en un 50%. Mostrar el promedio de
              todos estos porcentajes de retraso.</li>
            </ol>
          </li>
        </ol>
      </p>
      <p>Documentación:
        <ul>
          <li><a href="https://ruby-doc.org/core-2.2.0/Time.html">https://ruby-doc.org/core-2.2.0/Time.html</a></li>
          <li><a href="https://github.com/lambdaweb/pillchart">https://github.com/lambdaweb/pillchart</a></li>
          <li><a href="https://github.com/sinatra/sinatra">https://github.com/sinatra/sinatra</a></li>
          <li><a href="https://getbootstrap.com">https://getbootstrap.com</a></li>
          <li><a href="https://docs.ruby-lang.org/en/2.4.0/YAML/Store.html">https://docs.ruby-lang.org/en/2.4.0/YAML/Store.html</a></li>
        </ul>
      </p>
    </div>
  </div>
</div>