<div class="card">
  <h5 class="card-header">Bienvenido al site de Obra Pública en CABA</h5>
  <div class="card-body">
    <% if @errors %>
      <% @errors.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
    <% end %>
    <% if @success %>
      <div class="alert alert-success" role="alert">
          Archivo .csv importado correctamente
      </div>
    <% end %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <img class="card-img-left" src="/images/pics/welcome.jpg" style="max-width:75%;">
          </div>
          <div class="col-md-7">
            <br><font size="4"><p>Aquí usted podrá consultar detalles sobre toda la obra pública de la 
            Ciudad de Buenos Aires, dar de alta nuevas obras, modificar o eliminar obras ya existentes y consultar estadísticas.</p> 
            <p>Bienvenido!</p></font>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>