<div class="card">
  <h5 class="card-header">Bienvenido al site de Obra Pública de CABA</h5>
  <div class="card-body">
    <div class="col text-center">
        <img class="center-block img-responsive mb-3" src="/images/pics/welcome.jpg" style="max-width:50%;">
      </div>
  </div>
</div>