<div class="card">
  <h5 class="card-header">Nueva Obra</h5>
  <div class="card-body">
    <% if @errors %>
      <% @errors.each do |error| %>
        <div class="alert alert-danger" role="alert">
          <%= error%>
        </div>
      <% end %>
    <% end %>
    <form action='/nueva_obra' method='post'>
      <div class="row align-items-start">
        <div class="col">
          Nombre:<br>
          <input type="text" name="nombre" class="form-control"><br>
          Tipo:<br>
          <input type="text" name="tipo" class="form-control"><br>
          Descripción:<br>
          <textarea id="descripcion" cols="29" rows="12" class="fieldform" name="descripcion" maxlength="2000" aria-required="true" style="height: 295px;" class="form-control"></textarea>
        </div>
        <div class="col">
          Etapa:<br>
          <select class="form-control" name="etapa">
            <% @etapas.each do |etapa| %>
              <option><%= etapa %></option>
            <% end %>
          </select><br>
          Área responsable:<br>
            <input type="text" name="area" class="form-control"><br>
          Monto:<br>
            <input type="number" step="0.01" min="0" placeholder="$" name="monto" class="form-control"><br>
          Comuna:<br>
            <input type="number" placeholder="1-15" min="1" max="15" name="comuna" class="form-control"><br>
          Barrio:<br>
            <input type="text" name="barrio" class="form-control"><br>
          Dirección:<br>
            <input type="address" name="direccion" class="form-control">
        </div>
        <div class="col">
          Fecha de inicio:<br>
            <input type="date" name="fecha_inicio" class="form-control"><br>
          Fecha estimada de finalización:<br>
            <input type="date" name="fecha_fin_planeada" class="form-control"><br>
          Fecha de finalización:<br>
            <input type="date" name="fecha_fin_real" class="form-control"><br>
          Porcentaje de avance:<br>
            <input type="number" placeholder="%" min="0" max="100" name="avance" class="form-control"></output><br>
          Link a la imagen:<br>
            <input type="url" placeholder="http://" name="imagen" class="form-control"><br><br>
            <a class="btn btn-warning" href="/" style="float:right">Inicio</a>
            <input type="reset" value="Resetear" class='btn btn-danger'> &nbsp;
            <input type="submit" value="Submitir" class='btn btn-success'>
        </div>
      </div>
    </form>
  </div>
</div>